@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #eee;
}

.card {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 370px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 0 0 14px 0 ;
  
}

.date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  background-color: rgb(34, 88, 113);
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}
.dateDay {
  font-size: 14px;
}
.dateMonth {
  text-transform: uppercase;
  font-size: 10px;
}

.category {
  position: absolute;
  top: -30px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: rgb(92, 197, 245);
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

a { 
  text-decoration: none;
  color: inherit;
 }


.cardBody {
  position: relative;
  height: 115px;
  padding: 15px;
}

.title {
  margin: 0;
  color: rgb(34, 88, 113);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: rgb(92, 197, 245);
}

.footer {
  position: absolute;
  bottom: 12px;
  left: 15px;
  right: 20px;
  font-size: 11px;
  color: rgb(222, 220, 220);
}

.howLongAgo {
  display: inline-block;
}
.comments {
  padding-left: 15px;
}
